body {
	background-color: gray;
	font-family: Arial;
	text-align: center;
}
h1 {
	text-align: center;
	color: white;
}
h2 {
	text-align: center;
	color: white;
}
.btn {
	margin: 10px auto;
	width: 130px;
	height: 50px;
	border: 2px solid black;
	background-color: grey;
	color: white;
	vertical-align: top;
	cursor: pointer;
	transition-duration: 0.1s;
}
.btn:hover {
	background-color: rgb(125, 180, 125);
}
