body {
	background-color: gray;
	font-family: verdana;
	text-align: center;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
.ctext {
	font-family: verdana;
	font-size: 18px;
	color: white;
}
.btn {
	font-family: verdana;
	width: 130px;
	height: 50px;
	border: 2px solid black;
	background-color: #555;
	color: white;
	vertical-align: top;
	cursor: pointer;
	transition-duration: 0.2s;
	margin-bottom: 4px;
}
.btn:focus {
	outline: 0px;
}
.btn:hover {
	background-color: white;
	color: black;
}